blinker==1.9.0
Brotli==1.1.0
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
cssselect2==0.7.0
Flask==2.3.2
fonttools==4.55.3
fpdf==1.7.2
html5lib==1.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.2
pillow==11.0.0
pycparser==2.22
pydyf==0.11.0
pyphen==0.17.0
qrcode==8.0
requests==2.31.0
six==1.17.0
tinycss2==1.4.0
urllib3==2.2.3
weasyprint==62.3
webencodings==0.5.1
Werkzeug==2.3.4
zopfli==0.2.3.post1
google-auth-oauthlib==1.0.0
google-auth-httplib2==0.1.0
google-api-python-client==2.0.0
openai==1.3.0